body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  border: 0;
  background-color: #f4f4f4;
}


.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

/* header */
header{
  background: #2969ff;
  color: #ffffff;
  padding-top: 25px;
  min-height: 60px;
  border-bottom: #ff8629 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}


header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
  margin-top: 35px;
}

header #box img{
  width: 80px;
  height: auto;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 0;
}

header #branding{
  float: left;
}

header nav{
  float: right;
}

header .highlight, header .current a{
  color: #ff8629;
  font-weight: bold;
}

header a:hover{
  color: #f4f4f4;
  font-style: italic;
}

/* Showcase */
#showcase{
  min-height: 400px;
  background: url('./images/classp2.jpg') no-repeat 0 -100px;
  background-size: cover;
  box-shadow:inset 0 0 0 500px rgba(0,0,0,0.5);
  color: #ffffff;
  text-align: center;
  line-height: 0.5;
}

#quote{
  font-weight: bold;
  margin-top: 300px;
  margin-bottom: 300px;
}

#showcase h1{
  font-size: 60px;
  font-style: italic;
  color: #ffffff;
}

#showcase p{
  font-size: 20px;
}

/* footer */
footer{
  padding: 20px;
  background-color: #2969ff;
  color: #ffffff;
  border-top: #ff8629 3px solid;
}

/* about page */
#main h1{
  text-align: center;
}

#main p{
  text-align: center;
}

.profile img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile{
  float: left;
  margin-top: 10px;
  padding-left: 120px;
  width: 20%;
  height: auto;
  border-radius: 50%;
  text-align: center;
}

/* gallery */


/* Slideshow container */
.slideshow{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  position: absolute;
  margin-top: -22px;
  padding: 16px;
  color: #ff8629;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
